---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ImageUploader from '../components/ImageUploader';
import DataAnalytics from '../components/DataAnalytics';
---

<Layout title="NextDroughtAI - Environmental Monitoring Platform">
  <main class="flex flex-col min-h-screen">
    <Navbar />
    <Hero />
    
    <div class="flex-grow container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="w-full">
          <ImageUploader client:load />
        </div>
        <div class="w-full">
          <DataAnalytics client:load />
        </div>
      </div>
    </div>
  </main>
</Layout>
