---
import "@fontsource/space-mono";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Chatbot from "../pages/chatbot.astro"; // Import the chatbot component
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <div class="lg:max-w-screen-lg mx-auto py-4 px-8 lg:px-0">
      <slot />
      <Footer />
    </div>
    <div class="container">
      <div class="chatbox">
        <div class="chatbox__support">
          <div class="chatbox__header">
            <div class="chatbox__image--header">
              <img
                src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                alt="image"
              />
            </div>
            <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">Chat support</h4>
              <p class="chatbox__description--header">
                Hi. My name is Sam. How can I help you?
              </p>
            </div>
          </div>
          <div class="chatbox__messages">
            <div></div>
          </div>
          <div class="chatbox__footer">
            <input type="text" placeholder="Write a message..." />
            <button class="chatbox__send--footer send__button">Send</button>
          </div>
        </div>
        <div class="chatbox__button">
          <button><img src="./images/chatbox-icon.svg" /></button>
        </div>
      </div>
    </div>
    <script src="../content/app.js"></script>
  </body>
</html>
<style is:global>
  html {
    background-color: #0d0208;
  }
  * {
    font-family: "Space Mono", monospace;
    color: white;
  }
</style>
